body {
	background-color: #0f0f0f;
	color: rgba(234, 240, 246, 0.7);
	font-size: 16px;
	font-family: Roboto-Regular, Arial, Verdana, Helvetica, Tahoma, 'Trebuchet MS';
}


@font-face {
	
	font-family: Roboto-Regular;
	src: url("../fonts/Roboto-Regular.ttf");
}
/* MAIN MENU */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 10px;
}

nav {
  float: right;
}

li img {
  width: 20px;
  height: 16px;
}

a,
a:hover,
a:visited {
  text-decoration: none;
  color: #e0ebf3;
}

a:hover {
  color: #bc9e5c;
}

/* PLATFORM 4.0 - ICONS */
.image {
  width: 100%;
  height: 60%;
  background-size: 100% 100%;
  min-height: 200px;
}

.menu {
	background-image: url("../images/Menu.svg");
	width: 36px;
	height: 36px;
	background-size: 100% 100%;
}

.Icon_ControlAndVisualization {
  background-image: url("../images/platform40/ControlAndVisualization.svg");
}

.Icon_MonitoringOfPerformanceIndicators {
  background-image: url("../images/platform40/MonitoringOfPerformanceIndicators.svg");
}

.Icon_TechnicalAssistance {
  background-image: url("../images/platform40/TechnicalAssistance.svg");
}

.Icon_ProductionDataAnalysis {
  background-image: url("../images/platform40/DataAnalysis.svg");
}

.Icon_DiagnosticsAndInstructions {
  background-image: url("../images/platform40/DiagnosticsAndInstructions.svg");
}

.Icon_MaintenanceAndEarlyWarning {
  background-image: url("../images/platform40/MaintenanceAndEarlyWarning.svg");
}

.logo {
  background-image: url("../images/CompanyLogo.svg");
  width: 177px;
  height: 102px;
  background-size: 100% 100%;
  float: left;
}

/* CONTACT FORM */
input,
form {
  display: block;
  width: 100%;
}

input {
  color: white;
  border: 0px;
  border-radius: 4px;
  margin-bottom: 6px;
  margin-top: 6px;
  background-color: rgba(77, 80, 85, 0.6);

}

label {
  text-transform: uppercase;
}

textarea {
  width: 100%;
  margin-bottom: 6px;
  margin-top: 6px;
  border: 0;
  resize: none;
  border-radius: 4px;

  color: white;
  background-color: rgba(77, 80, 85, 0.6);

}

input[type="submit"] {
  background-color: #bc9d5c;
  color: black;
}

span.required {
  color: red;
}

#contact {
	margin-bottom: 100px;
}

/* FOOTER */
footer {
  margin: auto;
  text-align: center;
  color: #e0ebf3;
  /* border-top: #bc9e5c 1px solid; */
}
footer {
  background-color: #0a0a0a;
  position: relative;
  padding-bottom: 4px;
}

.circle {
  width: 60px;
  height: 40px;
  border-radius: 45% 45% 0% 0%;
  background-color: #0a0a0a;
  padding: 10px;
  color: black;
  text-align: center;
  font-weight: bold;
  position: relative;
  left: calc(100% - 100px);

}

/* GENERAL */
h4 {
  margin: 10px;
  color: #e0ebf3;
}

h1 {
  text-align: center;
  color: #bc9e5c;
  margin: 20px;
}

h2 {
  color: #bc9e5c;
}

/* SECTIONS */
#aboutUs,
#platform40,
#projects,
#contact {
  width: 100%;
  /*rgin-bottom: 20px;*/
  margin-top: 20px;
}

#aboutUs > p,
#platform40 > p,
#aboutUs {
  text-align: center;
}

.about {
  background-image: url("../images/about.jpg");
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  min-height: 200px;
  margin: auto;
  max-height: 300px;
}

.CreateWithUs {
  background-image: url("../images/CreateWithUs.jpeg");
  width: 100%;
  height: 300px;
  min-height: 160px;
  background-size: 100% 100%;
  border-radius: 4px;
  /*rgin: ;*/
}

@media (min-width: 600px) {
  .container3 {
    display: grid;
    grid-template-columns: 40% 55%;
    grid-gap: 5%;
  }

  .container {
    display: grid;
    grid-template-columns: 14% 30% 14% 30%;

    grid-column-gap: 4%;
  }

  .container2 {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-gap: 4%;
  }

  .vertical-center {
    margin: auto auto;
    position: relative;
    top: 60%;
   /*ms-transform: translateY(-50%);*/
    transform: translateY(-50%);
    height: 100%;
  }

  .vertical-center > p {
    text-align: center;
  }

  div.vertical-center {
    text-align: center;
    height: 100%;
  }

  .icon {
    display: none;
  }
}

.item {
  width: 100%;

  display: flex;
  position: relative;
  /*ext-align: justify;*/
}

header {
  min-height: 100px;
  background: #0a0a0a;
  background: #0a0a0a;

  max-height: 360px;
  padding: 20px 20px 0px 20px;
  margin: 0px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  border-bottom: #bc9e5c 1px solid;
}

main,
header > div {
  max-width: 1080px;
  margin-bottom: 100px;
  margin: auto auto auto auto;
  padding: 10px;
}

main {
  margin-top: 122px;
}

main > div {
  padding-top: 60px;
}

#platform40 .container .item div p {
  text-align: justify;
}
@media (max-width: 600px) {
  .icon {
	float: right;
  }

  nav {
    position: relative;
  }

  nav ul li {
    display: none;
  }

  nav.responsive ul li a {
    width: 100%;
  }
  nav.responsive ul li {
    float: none;
    display: block;
    text-align: left;
  }

  .responsive,
  nav.responsive ul {
    width: 100%;
  }

  .vertical-center > p {
    text-align: justify;
  }
}

#PLATFORM::before,
#PROJECTS::before,
#CONTACT::before {
  display: block;
  content: " ";
  margin-top: -122px;
  height: 122px;
  visibility: hidden;
  /*inter-events: none;*/
}

#page-region, .iSDZ5t7E7z _2fk7mvvpgw _22yXaHFtuz _15N04lKjtm {
	background:black;
}


.widget {
	background-color: #4D5055;
	color: #FFFFFF;
	width: 240px;
	height:40px;
	
	text-align: center;
  position: fixed;
  
  bottom: 60px;
      right: 20px;
	border-radius: 30px;
}




.calendly-badge-0idget { position: fixed !important; right: auto !important; right: 20px !important; bottom: 60px !important; 

}


.calendly-badge-widget
{
	z-index: 2 !important;
}


.iconYouTube {
	background-image: url("../images/SocialMedia/YouTube.svg");
}

.iconFacebook{
	background-image: url("../images/SocialMedia/Facebook.svg");
}

.iconLinkedIn {
	background-image: url("../images/SocialMedia/LinkedIn.svg");
}

.iconSocialMedia {
	
	width: 36px;
	
	height: 36px;
	
	background-size : 100% 100%;
	     display: inline-block;    

}
#formSent{display: none; text-align:center; }